body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 0px 0px;
    background: #fdf3e7;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #1a89a6;
}

header {
    width: 760px;
    height: 200px;
    margin: 0 auto;
    background: #2a99b6;
    padding: 20px 20px 20px 20px;
    display: table;
}

header img {
    height: 100%;
    padding-right: 160px;
    vertical-align: middle;
    display: table-cell;
    /*margin: 0 0 0 0;*/
}

div#headertext {
    display: table-cell;
    vertical-align: middle;
}

div#headertext a {
    color: #f3faf6;
}

div#headertext a:hover {
    color: #ffffff;
}


div.page {
    width: 760px;
    margin: 0 auto;
    background: #fdf3e7;
    padding: 20px 30px;
}

div#headertext h1 {
    color: #F3FAf6;
    margin: 0;
    font-weight: normal;
    font-size: 56px;
    font-family: 'Poiret One';
}

div#headertext nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#headertext nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}
