<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret One">
<title>{% block title %}Welcome{% endblock %} — Joseph Courtney</title>
<head>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

</head>
<body>
  <header>
    <img src="/img/mosaic_face.jpeg" alt="my face"/></div>
    <div id="headertext">
      <h1>Joseph Courtney</h1>
      <nav>
        <ul class="nav navbar-nav">
          <li{% if this._path == '/' %} class="active"{% endif
            %}><a href="{{ '/'|url }}">home</a></li>
          {% for href, title in [
            ['/blog', 'blog'],
            ['/projects', 'projects'],
            ['/about', 'about']
          ] %}
            <li{% if this.is_child_of(href) %} class="active"{% endif
              %}><a href="{{ href|url }}">{{ title }}</a></li>
          {% endfor %}
          {% for href, title in [
            ['https://github.com/josephcourtney', 'github'],
            ['https://scholar.google.com/citations?hl=en&user=z3J37tYAAAAJ', 'google scholar'],
          ] %}
            <li class="active"><a href="{{ href }}">{{ title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
</body>
